.container{
    border: 1px solid #00000060;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    color: rgb(243, 243, 241) ;
    text-shadow: -0px 1px 10px rgb(6, 236, 71);
    background-color: rgba(69, 130, 228, 0.362);
}
.container:hover{
    cursor: pointer;
    box-shadow: 0 16px 18px rgba(0, 0, 0, 1);
    transform: translateY(-2%);
}
.tipos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.typeSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
}
.typeSection img{
    width:40px;
    height:40px
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.linkCard{
    text-decoration: none;
    color: black;
}