.container{
    /* background-image: url('./utils/back2.png');
    background-size:cover;
    background-repeat: none; */
    display: grid;
    grid-template-columns: 1fr;
    background-image: url('../utils/back2.png');
    background-size: cover;
    background-position: center;
}

.nav{
    background-color: #2a61a599;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.menu{
    background-color:#f6d91f00;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}
.paginado{
    height: 70px;
}

.article{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.imgLoad{
    margin: auto;
}