.body{
    display: grid;
    grid-template-columns: 1fr;
    background-image: url('../utils//fondoDetail2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.container h1{
    font-size: 40px;
}
.sectionImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    height: 800px;
    background-color: rgba(236, 238, 236, 0.571);
}
.sectionImage img{
    width: 500px;
    height: 500px;
}
.sectionDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    height: 800px;
    background-color: rgba(236, 238, 236, 0.571);
}
.details{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items:center;
    justify-content: center;
    height: 600px;
}
/* .range{
    width: 300px;
    height: 10px;
    background-color: rgb(46, 169, 18);
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} */
.details input[type="range"]{
    -webkit-appearance: none;
    width: 400px;
    height: 20px;
    border-radius: 15px;
    background-color: #f6f6f68b;
    outline: none;
    overflow: hidden;
}
.details input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #00a63d;
    border-radius: 10px;
    box-shadow: -350px 0px 0px 340px #00a63d;
}

.typeSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem
}
.typeSection img{
    width:80px;
    height:80px
}
.tipos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid;
    border-radius: 60px;
    margin: 1rem;
}
.containerHab{
    display: flex;
    align-items: center;
}
.containerHab img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.containerHab h2{
    margin: 10px;
}