.nav{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color:rgb(228, 172, 51);
    height: 80px;
}
.back{
    text-decoration: none;
    color: aliceblue;
    font-size:25px;
    background-color: #29b881;
    box-shadow: 10px 5px 5px #0D1225;
    width: 100px;
    padding: 0.5rem;
    font-weight: 600;
    border:none;
    margin: auto;
    border-radius: 40px;
}
.back:hover{
    cursor: pointer;
    background-color:#2f9a70;
}